li div{
    display: inline-block;
}
li{


    padding: 10px;
    border-bottom: 1px #cccccc solid;
}
li img{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    vertical-align: middle;
}
.fl{
    position:absolute;
    right: 0;
}