.tijiao{width: 70%;
    margin:auto;
    background-color: red;
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
}
.jia{display: flex;
flex-wrap:wrap}
#file{
width: 200px;height: 200px;opacity: 0}
.jia>div{flex: 0 0 33.333%;
}
#tianjia{background-image: url("../img/图片.png");
    background-repeat: no-repeat;
    background-position: center;

}
img{width: 100%}
