<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="app">
    <!--v-f="boolean"-->
    <div v-if="type==1">AAA</div>
    <div v-if="type==2">BBB</div>
    <!--v-if是删除节点-->
    <div v-show="type==1">ccc</div>
    <div v-show="type==2">ddd</div>
    <!--v-show是display变换-->
    <input type="button" @click="changeType(1)" value="type1">
    <input type="button" @click="changeType(2)" value="type1">
</div>
<script src="js/vue.js"></script>
<script>
    new Vue({
            el:'#app',
            data: {
                type: 1,
//                test:true

            },
            methods:{
                changeType:function(type){
                    this.type=type;
                }
            }
    })
</script>
</body>
</html>